
.card {
    margin: 100px auto;
    width: 340px; /* Adjust the width to your preference */
    height: 530px; /* Set the same height to make it square */
    border: 2px solid black; /* Add a border */
    border-radius: 10px; /* Adjust border radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox for centering content */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
   
}


.card-body {
    padding: 40px;
    
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    width: 100%;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #45a049;
}

.error--hidden {
    display: none;
    font-family: 'Poetsen One', cursive; 
    color: red;
}

.btn-primary:focus {
    outline: none;
}


h2 {
    font-family: 'Poetsen One', cursive; /* Specify 'Poetsen One' font-family */
}
.form-control {
    border: none;
    border-radius: 30px;
    background-color: #f0f0f0;
    padding: 15px 25px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    color: #333;
}

.form-control:focus {
    outline: none;
    background-color: #e0e0e0;
    box-shadow: 0 0 0 3px #4CAF50, 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control::placeholder {
    color: #999;
}
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.register-link {
    color: #007bff; /* Bootstrap primary color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make it bold */
}

.register-link:hover {
    text-decoration: underline; /* Underline on hover */
}

