<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/login.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='/images/Football_Background5.jpg') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0; /* Remove any default margin */
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
    <div class="card">
        <div class="card-body text-center">
            <!-- Add your profile image here -->
            <img src="{{ url_for('static', filename='/images/Football_Background1.jpg') }}" alt="Profile Image" class="profile-image">
            <h2 class="text-center">Welcome Champs :)</h2>
            <form id="loginForm" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                <div>
                    <p class="error error--hidden" id="loginError"></p>   
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
            </form>
            <div class="text-center">
                <p>Don't have an account? <a href="/register" class="register-link">Register</a></p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='/js/login.js') }}"></script>
</body>
</html>
