<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password_reset.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Reset Your Password</h2>
        <form id="reset-form">
            <label for="email">Enter your email:</label>
            <input type="text" name="email" id="email" >
            <button type="submit">Reset Password</button>
            <div class="error-message" id="error-message"></div> <!-- Error message -->
        </form>
    </div>
    <script src="{{ url_for('static', filename='/js/password_reset.js') }}"></script>
</body>
</html>